/* reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a {
	color: inherit;
	text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/* form input, select and button reset */

input, button, select {
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}


/* header */

.header{
  background-image: url('../images/atanas-teodosiev-GvhSUEN-Lm8-unsplash\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-nav .nav-link{
  margin: 20px 50px 0px 0px;
  color: rgb(14, 34, 59);
  transition: background-color 400ms, color 400ms;
}

.navbar-nav .nav-link:hover{
  color: white;
  background-color: rgb(14, 34, 59);
  cursor: pointer;
} 

/* js script to remain hovered when on that page */

.hover {
  color: white;
  background-color: rgb(14, 34, 59);
  padding: 10px;
  border-radius: 20px;
}


/* main */
.main{
  background: #e8e7e7;
}


/* banner */
.banner-1-container {
  grid-template-columns: 1fr 1fr;
}


.banner-1-text h2{
  font-family: 'Poppins', sans-serif;
}

.banner-1-text p{
  font-family: 'Raleway', sans-serif;

}

/* banner anchor */

.banner-1-text a{
  transition: background-color 400ms, color 400ms;
}

.banner-1-text a:hover{
  color: hsl(26, 100%, 99%);
  background-color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 

}


/* javascript game */

.javascript-container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.javascript-container h3{
  font-family: 'Poppins';
  font-weight: 400;
}

.javascript-container p{
  font-family: 'Raleway';
}

/* add a black border to input */
.javascript-container input{
  border: 2px solid rgb(114, 99, 99);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  text-align: center;
  font-family: 'Raleway';
}

/* focus effect on hover */
.javascript-container input:hover{
  background-color: #f0f0f0;
  border-color: black;
}

/* button */
.javascript-container button{
  font-family: 'Montserrat';
  transition: color 0.3s, background-color 0.3s;
}

.javascript-container button:hover{
  color: hsl(26, 100%, 99%);
  background-color: black;
  cursor: pointer;
}

/* click animation for button */
.javascript-container button.clicked {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}

/* reviews */

.review { 
  font-family: 'Poppins';
}

.review-h2 {
	letter-spacing: 4px;
	margin-bottom: 80px;
}

.review-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
}

.customer-img-box {
	width:  70px;
	height: 70px;
} 

.customer-text {
	max-width: 350px;
	line-height: 1.8;
}

.customer-name {
	margin-bottom: 14px;
}

/* footer */
.footer{
  background: hsl(0, 0%, 97%);
}


/* navbar */
.footer-navbar {
  padding: 20px;
	gap: 55px;
	margin-bottom: 90px;
}

.footer-navbar a {
	color: rgb(0, 0, 0);
	transition: 0.3s ease;
}

/* social ion-icons */
.social-links {
	gap: 25px;
  margin-bottom: 20px;
}

.social-links ion-icon {
	color: hsl(0, 0%, 0%);
	font-size: 25px;
	transition: 0.3s ease;
}

.footer-navbar a:hover,
.social-links ion-icon:hover { color: #848383; }

/* copyright */
.copyright {
  color: #aaa8a8;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  border-top: 1px solid hsl(0, 0%, 76%);
}

.copyright a {
  color: hsl(230, 8%, 29%);
  font-weight: 500;
}

.copyright a:hover { text-decoration: underline; }


/* gallery page */

/* class for current page not hovering */

.header .navbar .navbar-nav .current-page{ color: white; }

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Adjust the max-width value as needed */
}

.gallery-item {
  width: 75%;
  margin-top: 40px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
  border-radius: 10px;
}




.gallery-item:hover img{
	transform: scale(1.015);
	filter: grayscale(100%) blur(2px);
	cursor: pointer;
}

.gallery-item p{
	font-size: 'Open-Sans', sans-serif;
	font-weight: 500;
	color: #d8d8d8;
	transition: font-size 0.2s;
}

.gallery-item:hover p{
	color: #fbfafa;
	cursor: pointer;
}

/* overlay style */

.overlay {
  position: fixed; /* Change from 'absolute' to 'fixed' */
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1000;
}

.overlay-text {
  max-width: 80%;
  padding: 20px;
  text-align: center;
}